* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-enter {
    opacity: 0;
}

.fade-exit {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms;
}

.btn {
    box-shadow: -2px -2px 2px #f9f9f9, 2px 2px 2px #00000050;
}

.btn:active {
    box-shadow: 0px 0px 2px #f9f9f9, 0px 0px 0px #00000050;
    margin-top: 2px;
    margin-left: 2px;
}



/* test code */

.tag {
    background-color: rgb(78, 143, 196);
    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 20px;
    /* line-height: 26px; */
    padding: 0 20px 0 16px;
    position: relative;
    margin: 2px;
    text-decoration: none;
    font-size: 12px;
}

.tag.dark {
    background-color: #fff;
}

.tag::before {
    border-radius: 10px;
    background-color: #f0f8ff;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 4px;
    left: 6px;
    position: absolute;
    width: 4px;
    top: 8px;
    z-index: 2;
}
.tag.dark::before {
 background-color: rgb(7, 33, 71);
}
.tag::after {
    background-color: #f0f8ff;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(78, 143, 196);
    border-top: 10px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}
.tag.dark::after {
    background-color: rgb(7, 33, 71);
        border-left: 10px solid #fff;
}


.tag:hover {
    background-color: crimson;
    color: white;
}

.tag:hover::after {
    border-left-color: crimson;
}

.truncate-paragraph {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    text-align: justify;
}