*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all .2s ease-in-out; */
}



.fade-enter {
    opacity: 0;
}

.fade-exit {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms;
}


.btn {

    box-shadow: -2px -2px 2px #f9f9f9,2px 2px 2px  #00000050
    
}

.btn:active {
    box-shadow: 2px 2px 2px #f9f9f9, -2px -2px 2px #00000050
}